<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NetworkTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <NetworkTool.Properties.Settings>
      <setting name="Lang" serializeAs="String">
        <value>eng</value>
      </setting>
      <setting name="WiFiName" serializeAs="String">
        <value>HomeWiFi</value>
      </setting>
      <setting name="WiFiPass" serializeAs="String">
        <value>netshkeyadmin</value>
      </setting>
    </NetworkTool.Properties.Settings>
  </userSettings>
</configuration>
